@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-decoration: none;
}

main {
  width: 90%;
  height: 900px;
  margin: auto;
  /* background-color: rgb(red, green, blue); */
  background-color: rgb(220, 220, 220);
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;

}

.navbar h3{
  font-size: 18pt;
}

nav{
  flex: 1;
  text-align: right;

}

nav ul{
  display: inline-block;
  list-style-type: none;
  text-align: center;
  
}

nav ul li{
  display: inline-block;
  margin: 10px 15px;
  cursor: pointer;
}



p{
  color: black;
}

.btn{
  background-color: #ffffff;
  color: #000000;
  padding: 3px 12px;
  border: solid 1px black;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  margin: auto;
}

.btn-w{
  background-color: #000000;
  color: #ffffff;
  padding: 3px 15px;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  margin: auto;

}


.btn-container .btn .btn-w{
  grid-template-columns: 1fr 1fr;
}

.row{
  display: flex;
  margin-top: 50px;
  flex: wrap;
  justify-content: space-around;
}


.col-2{

  padding-left: 20px;
  flex-basis: 50%;
  

}

.col-2 img{
  width: 80%;
  transform: rotate(25deg);
  
  background-size: contain;
  
  
  
  
}
.col-2 h2{
  font-family: Poppins;
  font-size: 43px;
  font-weight: normal;
  margin-bottom: 15px;


}

.col-2 h1{
  font-size: 60px;
  line-height: 52px;
  margin-bottom: 20px;
  
}

.col-2 p{
  font-size: 13pt;
  padding-bottom: 30px;

}

.dot-container{
  .container {
    position:absolute;
    width: 50%;
    max-width: 100px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.dot-red{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}
.dot-red{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}

.dot-red{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}