@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-decoration: none;
}

main {
  width: 90%;
  height: 900px;
  margin: auto;
  /* background-color: rgb(red, green, blue); */
  background-color: rgb(220, 220, 220);

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;

}

.navbar h3{
  font-size: 18pt;
}

nav{
  flex: 1;
  text-align: right;

}

nav ul{
  display: inline-block;
  list-style-type: none;
  text-align: center;
  
}

nav ul li{
  display: inline-block;
  margin: 10px 15px;
  cursor: pointer;
}



p{
  color: black;
}

.btn{
  background-color: #ffffff;
  color: #000000;
  padding: 5px 15px;
  border: solid 1px black;
  border-radius: 15px;
  cursor: pointer;
}