@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-decoration: none;
}

header{
  width: 80%;
  height: 800px;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;

}

.navbar h3{
  font-size: 18pt;
}

nav{
  flex: 1;
  text-align: right;

}

nav ul{
  display: inline-block;
  list-style-type: none;
  text-align: center;
  
}

nav ul li{
  display: inline-block;
  margin: 10px 15px;
  cursor: pointer;
}



p{
  color: black;
}

.btn{
  color: #000000;
  padding: 3px 12px;
  border: solid 1px black;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  
}

.btn-w{
  background-color: #000000;
  color: #ffffff;
  padding: 3px 15px;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  margin: auto;

}
.btn:hover{
  background-color: black;
  color: white!important;
  font-family: Poppins;
  text-decoration: none;
  cursor: pointer;
}


.row{
  display: flex;
  margin-top: 50px;
  flex: wrap;
  justify-content: space-around;
  margin-bottom: 0;
}

.row p{
  font-size: 10pt;
}


.col-2{

  padding-left: 20px;
  flex-basis: 50%;
  

}


.col-2 img{
  height:600px;
  width: 600px;
  object-fit: cover;
  border-radius: 10px;
  left: auto;
  transform: rotate(25deg);
  
}

.col-2 h2{
  font-family: Poppins;
  font-size: 43px;
  font-weight: normal;
  margin-bottom: 15px;


}

.col-2 h1{
  font-size: 60px;
  line-height: 52px;
  margin-bottom: 20px;
  
}

.col-2 p{
  font-size: 13pt;
  padding-bottom: 30px;

}

.dot-container{
  display: grid;
  grid-template-columns: auto auto;
  
}
.dot-container img{
  width: auto;
  height: 20px;
  background-size: contain;
  transform: rotate(0deg);
  margin-top: 20px;
  margin-bottom: 10px;
 
}

.text-container{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}

.icon-section{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  
}

.icon-container img{
  overflow: hidden;
  position: relative;
  display: grid;
  padding: 20px;
  border: solid 1px rgb(214, 143, 143);
  border-radius: 10px;
  width: 200px;
  height: 145px;
  margin-left: 70px;
  box-shadow: #000000 1px;
  cursor: pointer;
  background-color: rgb(244, 244, 244);
  
}

.icon-container p{
  text-align: center;
  top: 20%;
  font-size: 10pt;
}
  
.img-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  align-items: center;
}

.img-container img{
  overflow: hidden;
  position: relative;
  display: grid;
  padding: 10px;
  width: 300px;
  height: 350px;
  margin-left: 70px;
  padding-bottom: 40px;
  box-shadow: #000000 1px;
  cursor: pointer;
  border: 1px solid rgb(238, 238, 238);
}

.img-container p{
  text-align: center;
  margin-right: 210px;
  top: 20%;
  margin-top: 20px;
  font-size: 10pt;
}

.img-container .btn{
  align-items: center;
  top: 20%;
  font-size: 10pt;
  margin-left: 70px;
  
}

.feed{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.feed img{
  width: 50px;
  height: 20px;
  margin-left: 70px;
  display: grid;
}

.feed p{
  display: grid;
  font-size: 10pt;
  
}

footer{
  background-image: linear-gradient(to right, rgb(179, 161, 240) ,rgb(30, 9, 121));
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  height: 300px;
}
.footer_pic img{
  width: 40%;
  background-size: cover;
  padding: 20px;
  margin-left: 300px;
  margin-top: 10px;
}
.footer_text{
  padding: 20px;
  list-style: none;
  
}

.footer_text h3{
  margin-left: 0px;
  font-size: 12pt;
}
footer ul{

  width: 350px;
  padding: 10px;
  list-style:square;
}
footer li {
  margin: 15px;
  color: whitesmoke;
  font-size: 8pt;

}

footer .btn{
  list-style: none;
  margin-left: 15px;
}
.fin{
  text-align: center;
  font-size: 10px;
}